### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.
Heroes of Pymoli

![Fantasy](Images/Fantasy.png)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

### Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of three observable trends based on the data.
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
hero_df = pd.read_csv(file_to_load)

In [4]:
hero_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [16]:
# Unique Screen Names=Total Number of Players

SNcount = len(hero_df["SN"].unique())

# Totl Number of Player Using length of Uniques Screen Names

tot_Players_df=pd.DataFrame({"Total # of Players":[SNcount]})
tot_Players_df

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue
Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# In order, Total Unique Items, Average Purchase Price, Total Number of Unique Purchase, Total Number of Purchases,and Total Revenue

total_unique_items = len(hero_df['Item ID'].unique())
#avg_purprice = hero_df.mean()
avgpurprice = hero_df["Price"].mean()
totpur = hero_df["Purchase ID"].unique()
total_purchases = len(totpur)
totalrev = hero_df["Price"].sum()

# Creates a New DataFrame from above variable giving desired output

Purchasing_Analysis_df = pd.DataFrame(
{"Number of Unique Items" : [total_unique_items],
"Average Purchase Price" : [avgpurprice],
"Total Number of Purchases" : [total_purchases], 
"Total Revenue" : [totalrev]})

Purchasing_Analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
hero_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
#Counts number of each Gender Specified

gender = hero_df["Gender"].value_counts()

#Counts Total Number of Rows in Gender (780)

total_gender = hero_df["Gender"].count()

#Percent Gender per 3 Categories / Total Amount of Gender Entries (Rows=780)

Percent_gender = (gender / total_gender) * 100

#Makes a New DataFrame from above variables

Gender_Demographics_df = pd.DataFrame(
{"Percentage Players" : Percent_gender,
"Total Count" : gender})
Gender_Demographics_df

                       Percentage Players  Total Count
Male                            83.589744          652
Female                          14.487179          113
Other / Non-Disclosed            1.923077           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [15]:
# filter males and females
males_df = hero_df.loc[hero_df["Gender"] == "Male", :]
female_df = hero_df.loc[hero_df["Gender"] == "Female", :]


# Filter purchase data by Other / Non-Disclosed and Create Other / Non-Disclosed Players table
others_df = hero_df.loc[hero_df["Gender"] == "Other / Non-Disclosed", :]

# Gender counts
count_of_males = len(males_df['SN'].value_counts())
count_of_females = len(female_df['SN'].value_counts())
count_of_others = len(others_df['SN'].value_counts())

# Total Number of Purchases
totpur=hero_df['Purchase ID'].count()

# Male Purchase count
malepurcount = males_df['Purchase ID'].count()

# Purchase Count by Females
fempurcount = female_df['Purchase ID'].count()

# Purchase Count by Other / Non-Disclosed
otherpurcount = others_df['Purchase ID'].count()

# Total Purchase Value by Other / Non-Disclosed
otherpurval = others_df['Price'].sum()

# Total Purchase Value by Female
totfempurval = female_df['Price'].sum()

# Total Purchase Value by Males
totmalepurval = males_df['Price'].sum()

# Average Purchase Price by Males
avgmaleprice = males_df['Price'].sum()/males_df['Purchase ID'].count()

# Average Purchase Price by Females
avgfemprice = female_df['Price'].sum()/female_df['Purchase ID'].count()

# Average Purchase Price by Other / Non-Disclosed
avgotherprice = others_df['Price'].sum()/others_df['Purchase ID'].count()

# Average Purchase Total per Person by Males
totmale_avgpur = males_df['Price'].sum()/count_of_males

# Average Purchase Total per Person by Females
totfem_avgpur = female_df['Price'].sum()/count_of_females

# Average Purchase Total per Person by Other / Non-Disclosed
totother_avgpur = others_df['Price'].sum()/count_of_others

# Create DataFrame Summary for Total Purchases and Percentages by Gender
Tot_pur_per_Gender = pd.DataFrame({"Purchase Count":[malepurcount, fempurcount, otherpurcount],
                            "Average Purchase Price":[avgmaleprice, avgfemprice, avgotherprice],
                            "Total Purchase Value":[totmalepurval, totfempurval, otherpurval],
                            "Avg Total Purchase per Person":[totmale_avgpur, totfem_avgpur, totother_avgpur]},
                            index=["Male","Female","Other / Non-Disclosed"])
Tot_pur_per_Gender.index.name = "Gender"
Tot_pur_per_Gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame